{% extends "base.html" %}

<!-- 브라우저 탭 타이틀 영역 -->
{% block title %}로그인{% endblock %}

<!-- 헤더 영역 -->
{% block header %}
    <h2>로그인</h2>
{% endblock %}

<!-- 본문 영역 -->
{% block content %}
    <form action="{{url_for('login')}}" method="post">
        <input type="email" name="e-mail" placeholder="enter your email" required>
        <input type="password" name="password" placeholder="enter your password" required>
        <button type="submit">로그인</button>
    </form>

    <a href="{{url_for('main')}}">메인 페이지로 돌아가기</a>
    <a href="{{url_for('register_user')}}">회원가입 페이지로 가기</a>
{% endblock %}