{% extends "base.html" %}

<!-- 브라우저 탭 타이틀 영역 -->
{% block title %}회원가입{% endblock %}

<!-- 헤더 영역 -->
{% block header %}
    <h2>회원가입</h2>
{% endblock %}

<!-- 본문 영역 -->
{% block content %}
    <form action="/register" method="post">
        <input type="text" name="user-name" placeholder="enter your name" required>
        <input type="email" name="e-mail" placeholder="enter your email" required>
        <input type="password" name="password" placeholder="enter password" required>
        <input type="password" name="password2" placeholder="re-enter password" required>
        <button type="submit">가입</button>
    </form>

    <a href="{{url_for('main')}}">메인 페이지로 돌아가기</a>
    <a href="{{url_for('login')}}">로그인 페이지로 가기</a>
{% endblock %}