{% extends "base.html" %}

<!-- 브라우저 탭 타이틀 영역 -->
{% block title %}게시글 작성{% endblock %}

<!-- 헤더 영역 -->
{% block header %}
    <h2>게시글 작성</h2>
{% endblock %}

<!-- 본문 영역 -->
{% block content %}
    <form action="{{form_action|default(url_for('add_post'))}}" method="post">
        <p>작성자: {{current_user.name}}</p>
        <input type="text" name="post-title" placeholder="enter a title" maxlength="25" value="{{post_title|default('')}}" required>
        <br>
        <textarea name="content" placeholder="enter the content" maxlength="500" required>{{content|default('')}}</textarea>
        <br>
        <button type="submit">{{submit_text|default('포스팅')}}</button>
    </form>

    <hr>

    <a href="/">메인 페이지로 돌아가기</a>
{% endblock %}